<!DOCTYPE html>
<html>
  <head>
    <title>Minions</title>
    <meta name="viewport" content="width=device-width, ©tial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "welcome" %>
    <%= stylesheet_link_tag "users" %>

  </head>

  <body>
      <%= yield %>
  </body>
</html>
